### Transformaci贸n de Ventas

In [4]:
import sys
sys.path.append('../..')

In [5]:
import pandas as pd
import helpers as hlp

In [6]:
df_ventas = pd.read_csv('../../data-input/Venta.csv')

In [7]:
df_ventas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46645 entries, 0 to 46644
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   IdVenta        46645 non-null  int64
 1   Fecha          46645 non-null  object
 2   Fecha_Entrega  46645 non-null  object
 3   IdCanal        46645 non-null  int64
 4   IdCliente      46645 non-null  int64
 5   IdSucursal     46645 non-null  int64
 6   IdEmpleado     46645 non-null  int64
 7   IdProducto     46645 non-null  int64
 8   Precio         45721 non-null  float64
 9   Cantidad       45753 non-null  float64
dtypes: float64(2), int64(6), object(2)
memory usage: 3.6+ MB

In [8]:
rename_columns = {
    'IdVenta': 'Venta_id',
    'IdCanal': 'Canal_id',
    'IdCliente': 'Cliente_id',
    'IdSucursal': 'Sucursal_id',
    'IdEmpleado': 'Empleado_id',
    'IdProducto': 'Producto_id'
}

df_ventas.rename(columns=rename_columns, inplace=True)

In [9]:
df_ventas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46645 entries, 0 to 46644
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Venta_id       46645 non-null  int64
 1   Fecha          46645 non-null  object
 2   Fecha_Entrega  46645 non-null  object
 3   Canal_id       46645 non-null  int64
 4   Cliente_id     46645 non-null  int64
 5   Sucursal_id    46645 non-null  int64
 6   Empleado_id    46645 non-null  int64
 7   Producto_id    46645 non-null  int64
 8   Precio         45721 non-null  float64
 9   Cantidad       45753 non-null  float64
dtypes: float64(2), int64(6), object(2)
memory usage: 3.6+ MB

In [10]:
# TODO: Imputaci贸n de valures nulos

df_ventas['Precio'] = df_ventas['Precio'].fillna(0)
df_ventas['Cantidad'] = df_ventas['Cantidad'].fillna(0)

In [11]:
df_ventas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46645 entries, 0 to 46644
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Venta_id       46645 non-null  int64
 1   Fecha          46645 non-null  object
 2   Fecha_Entrega  46645 non-null  object
 3   Canal_id       46645 non-null  int64
 4   Cliente_id     46645 non-null  int64
 5   Sucursal_id    46645 non-null  int64
 6   Empleado_id    46645 non-null  int64
 7   Producto_id    46645 non-null  int64
 8   Precio         46645 non-null  float64
 9   Cantidad       46645 non-null  float64
dtypes: float64(2), int64(6), object(2)
memory usage: 3.6+ MB

In [12]:
# TODO: Normalizaci贸n de fechas

df_ventas['Fecha'] = pd.to_datetime(df_ventas['Fecha'])
df_ventas['Fecha_Entrega'] = pd.to_datetime(df_ventas['Fecha_Entrega'])

In [13]:
df_ventas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46645 entries, 0 to 46644
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Venta_id       46645 non-null  int64
 1   Fecha          46645 non-null  datetime64[ns]
 2   Fecha_Entrega  46645 non-null  datetime64[ns]
 3   Canal_id       46645 non-null  int64
 4   Cliente_id     46645 non-null  int64
 5   Sucursal_id    46645 non-null  int64
 6   Empleado_id    46645 non-null  int64
 7   Producto_id    46645 non-null  int64
 8   Precio         46645 non-null  float64
 9   Cantidad       46645 non-null  float64
dtypes: datetime64[ns](2), float64(2), int64(6)
memory usage: 3.6 MB

In [14]:
# TODO: Detecci贸n de Outliers

df_clean, outliers_cantidad, _, _ = hlp.SigmaOutliers(df_ventas, 'Cantidad')
df_clean, outliers_precio, _, _ = hlp.SigmaOutliers(df_clean, 'Cantidad')

In [15]:
outliers = pd.merge(outliers_precio, outliers_cantidad, how='outer')

In [16]:
print(df_ventas.shape)
print(df_clean.shape)
print(outliers.shape)

(46645, 10)
(45732, 10)
(913, 10)